<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li ><a href="#">Casos</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-search"></span> Casos solicitados por clientes</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed" >
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p class="text-info"> filtrar: </p>
                        <div class="row">
                            <div class="col-md-2">
                                Data Inicio: <input class="form-control col-md3" type="date">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Data Fim: <input class="form-control col-md3" type="date">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <br>
                                <button type="submit" class=" btn btn-default"> filtrar </button>
                            </div>
                        </div> </br>
                        <input class="form-control" tipe="text" ng-model="criterioDeBusca" placeholder="Buscar...">
                        <br/>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th ng-click="ordenarPor('caso')">Casos</th>
                                    <th ng-click="ordenarPor('consulta')" >Consulta</th>
                                    <th ng-click="ordenarPor('data_hora')" >Data/hora</th>
                                    <th ng-click="ordenarPor('cliente')" >Cliente</th>
                                    <th ng-click="ordenarPor('loja')" >Loja</th>
                                    <th ng-click="ordenarPor('atendente')" >Atendente</th>
                                    <th ng-click="ordenarPor('status')" >Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="case in cases | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">

                                    <td>{{case.caso}}</td>
                                    <td>{{case.consulta}}</td>
                                    <td>{{case.data_hora}}</td>
                                    <td>{{case.cliente}}</td>
                                    <td>{{case.loja}}</td>
                                    <td>{{case.atendente}}</td>
                                    <td>{{case.status}}</td>
                                </tr>
                            </tbody>
                         </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>