<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li ><a href="#">Casos</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-search"></span> Casos solicitados por clientes</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed" >
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p class="text-info"> filtrar: </p>
                        <div class="row">
                            <div class="col-md-2">
                                Data Inicio: <input class="form-control col-md3" type="date" ng-model="data_start.value">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Data Fim: <input class="form-control col-md3" type="date" ng-model="data_end.value">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <br>
                                <button type="submit" ng-click="carregarCases((data_start | date: 'dd/MM/y'), (data_end | date: 'dd/MM/y'))" class=" btn btn-default"> filtrar </button>
                            </div>
                        </div> </br>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.caso" placeholder="Id..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.consulta" placeholder="Consulta..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.data_hora" placeholder="Data..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.cliente" placeholder="Nome do cliente..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.loja" placeholder="Nome da loja..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.atendente" placeholder="Nome do atendente..."></th>
                                    <th >
                                        <select class="form-control" ng-model="criterioDeBusca.status">
                                            <option value="">..Selecione..</option>
                                            <option value="0"> Não Atendido </option>
                                            <option value="1"> Atendido </option>
                                            <option value="2"> Negado </option>
                                            <option value="3"> Outro Atendente </option>
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th ng-click="ordenarPor('caso')">Casos</th>
                                    <th ng-click="ordenarPor('consulta')" >Consulta</th>
                                    <th ng-click="ordenarPor('data_hora')" >Data</th>
                                    <th ng-click="ordenarPor('cliente')" >Cliente</th>
                                    <th ng-click="ordenarPor('loja')" >Loja</th>
                                    <th ng-click="ordenarPor('atendente')" >Atendente</th>
                                    <th ng-click="ordenarPor('status')" >Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="case in cases | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | orderBy:orderByFunction:reverse">

                                    <td>{{case.caso}}</td>
                                    <td>{{case.consulta}}</td>
                                    <td>{{case.data_hora.substring(0, 17)}}</td>
                                    <td>{{case.cliente}}</td>
                                    <td>{{case.loja}}</td>
                                    <td>{{case.atendente}}</td>
                                    <td ng-switch on="{{case.status}}">
                                        <span ng-switch-when="0"> Não Atendido </span>
                                        <span ng-switch-when="1"> Atendido </span>
                                        <span ng-switch-when="2"> Negado </span>
                                        <span ng-switch-when="3"> Outro Atendente </span>
                                        <span ng-switch-default> default </span>
                                    </td>
                                </tr>
                            </tbody>
                         </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>