<ul class="breadcrumb">
    <li><a ui-sref="main.dasboard.listar">Home</a></li>
    <li ><a ui-sref="main.analisesCasos.listarNatendimentos">Consultas Não atendidas</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-thumbs-down"></span> Consultas não atendidas</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed" >
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p class="text-info"> filtrar: </p>
                        <div class="row">
                            <div class="col-md-2">
                                Data Inicio: <input class="form-control col-md3" type="date">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Data Fim: <input class="form-control col-md3" type="date">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <br>
                                <button type="submit" class=" btn btn-default"> filtrar </button>
                            </div>
                        </div> </br>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.idcase" placeholder="Id..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.case_name" placeholder="Consulta..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.name" placeholder="Solicitante..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.date_trunc" placeholder="Data..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.neg" placeholder="NEG..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.nat" placeholder="NAT..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.tot" placeholder="TOT..."></th>
                                </tr>
                                <tr>
                                    <th ng-click="ordenarPor('idcase')" >Caso</th>
                                    <th ng-click="ordenarPor('case_name')" >Nome do Caso</th>
                                    <th ng-click="ordenarPor('name')" >Nome Solicitante</th>
                                    <th ng-click="ordenarPor('date_trunc')" >Data/hora</th>
                                    <th ng-click="ordenarPor('neg')" >NEG</th>
                                    <th ng-click="ordenarPor('nat')" >NAT</th>
                                    <th ng-click="ordenarPor('tot')" >TOT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Natendimento in Natendimentos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                    <td class="active">{{Natendimento.idcase}}</td>
                                    <td class="active">{{Natendimento.case_name}}</td>
                                    <td class="active">{{Natendimento.name}}</td>
                                    <td class="active">{{Natendimento.date_trunc}}</td>
                                    <td class="danger">{{Natendimento.neg}}</td>
                                    <td class="warning">{{Natendimento.nat}}</td>
                                    <td class="info">{{Natendimento.tot}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>
Contact GitHub 