<head>
    <!-- META SECTION -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
</head>
<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li ><a href="#">Estabelecimentos</a> </li>
</ul>

<div class="page-title" >
    <h2><span class="fa fa-building"></span> Estabelecimentos</h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    
        <!-- END BREADCRUMB -->
        <div class="page-container-boxed">
            <div class="row">
                <div class="col-md-12">

                    <!-- START DEFAULT DATATABLE -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Estabelecimentos Ativos</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                            </ul>
                        </div>
                        <div class="panel-body">
                            <input class="form-control" tipe="text" ng-model="criterioDeBusca" placeholder="Buscar...">
                            <br/>
                            <table class="table" >
                                <thead>
                                    <tr>
                                        <th href="" ng-click="ordenarPor('name')" > Nome </th>
                                        <th> Endereço </th>
                                        <th ng-click="ordenarPor('avg_rating')"  >Média Avaliação</th>
                                        <th ng-click="ordenarPor('sum_rating')" >Qtd Avaliações</th>
                                        <th> Detalhes</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr  ng-repeat="estabelecimento in estabelecimentos.stores | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                        <td>{{estabelecimento.name}}</td>
                                        <td>{{estabelecimento.address}}</td>
                                        <td>{{estabelecimento.avg_rating}}</td>
                                        <td>{{estabelecimento.sum_rating}}</td>


                                        <td>
                                            <button class="btn btn-default" ui-sref="main.vendedores.listar">
                                                Detalhes
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    panelActions();
</script>

<!-- END PAGE CONTENT WRAPPER -->