<!DOCTYPE html>
<html ng-app="teewa" lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="app/assets/css/theme-brown.css"/>
    <!-- EOF CSS INCLUDE -->

</head>

<body>

<div class="login-container" style="background-color: inherit">

    <div class="login-box ">
        <div class="login-body" style="background-color: #1b6d85">
            <div class="login-title"><strong>Bem Vindo ao Teewa Admin!</strong></div>
            <form action="index.html" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" ng-model="user.password" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-link btn-block">Esqueceu sua senha?</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info btn-block" ng-click="login(user)">Log In</button>
                    </div>
                    <br>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <p class="text-info"> Ainda não tem sua empresa no Teewa?
                            <a href="novoEstabelecimento.html" style="color: #fff3f4" >Clique Aqui</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

</body>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-ui.min.js"></script>
<script src="app/assets/js/plugins.js"></script>
<script src="app/assets/js/actions.js"></script>
<script src='lib/strophe/strophe.js'></script>
<script src='lib/strophe/register/strophe.register.js'></script>
<script src="lib/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/angular/angular-messages.js"></script>

<script src="app/app.module.js"></script>
<script src="app/app.routes.js"></script>


<!-- Controllers -->
<script src="app/pages/vendedores/vendedores.controller.js"></script>
<script src="app/pages/admin/form_admin.controller.js"></script>
<script src="app/pages/clientes/clientes.controller.js"></script>
<script src="app/pages/estabelecimentos/estabelecimentos.controller.js"></script>
<script src="app/pages/atendimentos/atendimentos.controller.js"></script>
<script src="app/pages/pacotes/form_pacotes.controller.js"></script>
<script src="app/pages/dashboard/dashboard.controller.js"></script>
<script src="app/pages/analises/analise.controller.js"></script>
<script src="app/pages/denuncias/denuncias.controller.js"></script>

<script src="app/pages/denuncias/denuncias.controller.js"></script>
<script src="app/value/config.js"></script>
<script>
    angular.module("teewa").controller("loginCtrl", function ($scope, $state, config) {
        $scope.state = $state;

        $scope.login = function (user) {
            console.log('oi');
            if((user.username == config.user) && (user.password == config.password)){
                window.location.replace('index.html');
            }
        };
    });
</script>

<script src="app/pages/main/main.controller.js"></script>
<script src="app/pages/chat/chat.controller.js"></script>

<!-- Services -->
<script src="app/services/sharedConn.service.js"></script>
<script src="app/services/chats.service.js"></script>
<script src="app/services/chat-details.service.js"></script>

</html>