<!-- START PAGE CONTAINER -->
<div class="page-container">
    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
    <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <!-- DashboardAdmin -->
            <li ng-show="!verifica() && !verificaEstabelecimento()" class="xn-logo">
                <a href="index.html">Teewa Admin</a>
                <a class="x-navigation-control"></a>
            </li>
            <!-- Dashbord Vendedor -->
            <li ng-show="verifica()"  class="xn-logo">
                <a >Teewa Vendas</a>
                <a class="x-navigation-control"></a>
            </li>
            <!-- Dashbord Estabelecimento -->
            <li ng-show="verificaEstabelecimento() && !verifica()" class="xn-logo">
                <a >Teewa Loja</a>
                <a class="x-navigation-control"></a>
            </li>
            <li class="xn-profile">
                <!-- Dashbord Admin -->
                <a ng-show="!verifica() && !verificaEstabelecimento()" class="profile-mini">
                    <img src="app/assets/images/users/no-image.jpg" alt="Admin"/>
                </a>
                <!-- Dashbord Vendedor -->
                <a ng-show="verifica()" class="profile-mini">
                    <img ng-src="{{urlPhotos}}{{infoVendedorPhoto}}" alt="Admin"/>
                </a>
                <!-- Dashbord Estabelecimento -->
                <a  ng-show="verificaEstabelecimento() && !verifica()" class="profile-mini">
                    <img src="app/assets/images/users/no-image.jpg" alt="Admin"/>
                </a>

                <div class="profile">
                    <!-- Dashbord Admin -->
                    <div ng-show="!verifica() && !verificaEstabelecimento()" class="profile-image">
                        <img src="app/assets/images/users/no-image.jpg" alt="Admin"/>
                    </div>
                    <!-- Dashbord Vendedor -->
                    <div ng-show="verifica()" class="profile-image">
                        <img ng-src="{{urlPhotos}}{{infoVendedorPhoto}}" alt="Admin"/>
                    </div>
                    <!-- Dashbord Estabelecimento -->
                    <div ng-show="verificaEstabelecimento()  && !verifica()" class="profile-image">
                        <img src="app/assets/images/users/no-image.jpg" alt="Admin"/>
                    </div>
                    <!-- Dashbord Admin -->
                    <div ng-show="!verifica() && !verificaEstabelecimento()" class="profile-data">
                        <div  class="profile-data-name">Administrador do teewa</div>
                        <div class="profile-data-title">Admin</div>
                    </div>
                    <!-- Dashbord Vendedor -->
                    <div ng-show="verifica()" class="profile-data">
                        <div  class="profile-data-name">{{infoVendedorNome}}</div>
                        <div class="profile-data-title">Vendedor</div>
                    </div>
                    <!-- Dashbord Estabelecimento -->
                    <div ng-show="verificaEstabelecimento()  && !verifica()" class="profile-data">
                        <div  class="profile-data-name">Teewa Loja</div>
                        <div class="profile-data-title">Estabelecimento</div>
                    </div>
                </div>
            </li>

        <!--Start Menu Lateral-->
            <!-- Dashbord Admin -->
            <li ng-show="!verifica() && !verificaEstabelecimento()"  ng-class="{active: state.current.activetab == 'dashboard'}">
                <a ui-sref="main.dashboard.listar">
                    <span class="fa fa-tachometer fa-3x" aria-hidden="true"></span>
                    <span class="xn-text">Dashboard</span>
                </a>
            </li>
            <li ng-show="!verifica() && !verificaEstabelecimento()" ng-class="{active: state.current.activetab == 'admin'}">
                <a ui-sref="main.admin.listar">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <span class="xn-text">Novo administrador</span>
                </a>
            </li>
            <li ng-show="!verifica() && !verificaEstabelecimento()" >
                <a ui-sref='main.perfil.listar'>
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <span class="xn-text">Perfil</span>
                </a>
            </li>
            <li ng-show="!verifica() && !verificaEstabelecimento()" ng-class="{active: state.current.activetab == 'denuncias'}">
                <a ui-sref="main.denuncias.listar">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    <span class="xn-text">Denúncias</span>
                </a>
            </li>
            <li ng-show="!verifica() && !verificaEstabelecimento()" ng-class="{active: state.current.activetab == 'atendimentos'}">
                <a ui-sref="main.atendimentos.listar">
                    <span class="fa fa-users"></span>
                    <span class="xn-text">Atendimentos</span>
                </a>
            </li>
            <li ng-show="!verifica() && !verificaEstabelecimento()" ng-class="{active: state.current.activetab == 'clientes'}">
                <a ui-sref="main.clientes.listar">
                    <span class="fa fa-users"></span>
                    <span class="xn-text">Clientes</span>
                </a>
            </li>
            <li ng-show="!verifica() && !verificaEstabelecimento()" ng-class="{active: state.current.activetab == 'estabelecimentos'}">
                <a ui-sref="main.estabelecimentos.listar">
                    <span class="fa fa-building" aria-hidden="true"></span>
                    <span class="xn-text">Estabelecimentos</span>
                </a>
            </li>

            <li ng-show="!verifica() && !verificaEstabelecimento()" ng-class="{active: state.current.activetab == 'pacotes'}">
                <a ui-sref="main.pacotes.listar">
                    <span class="fa fa-cubes"></span>
                    <span class="xn-text">Pacotes</span>
                </a>
            </li>
            <li ng-show="!verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'dashboardVendedor'}">
                <a ui-sref="main.dashboardVendedor.index" ng-click="login()">
                    <span class="fa fa-tachometer fa-3x"></span>
                    <span class="xn-text">DashBoard Vendedor</span>
                </a>
            </li>
            <li ng-show="!verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'dashboardEstabelecimento'}">
                <a ui-sref="main.dashboardEstabelecimento.index" ng-click="loginEstabelecimento()">
                    <span class="fa fa-tachometer fa-3x"></span>
                    <span class="xn-text" style="font-size: 90%">DashBoard Estabelecimento</span>
                </a>
            </li>

            <!-- Dashbord Vendedor -->
            <li ng-show="verifica()" ng-class="{active: state.current.activetab == 'dashboardVendedor'}">
                <a ui-sref="main.dashboardVendedor.index" ng-click="login()">
                    <span class="fa fa-tachometer fa-3x"></span>
                    <span class="xn-text">DashBoard Vendedor</span>
                </a>
            </li>
            <li  ng-show="verifica()"  ng-class="{active: state.current.activetab == 'chat'}">
                <a ui-sref="main.dashboardVendedor.casosAbertos">
                    <span class="fa fa-comments"></span>
                    <span class="xn-text">Chats</span>
                </a>
            </li>

            <li ng-show="verifica()"  ng-class="{active: state.current.activetab == 'casos-novos'}">
                <a ui-sref="main.dashboardVendedor.casosNovos">
                    <span class="fa fa-comments"></span>
                    <span class="xn-text">Novos Casos</span>
                </a>
            </li>

            <!-- Dashboard Estabelecimento -->
            <li ng-show="verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'dashboardEstabelecimento'}">
                <a ui-sref="main.dashboardEstabelecimento.index" ng-click="loginEstabelecimento()">
                    <span class="fa fa-tachometer fa-3x"></span>
                    <span class="xn-text" style="font-size: 90%">DashBoard Estabelecimento</span>
                </a>
            </li>
            <li ng-show="verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'perfilEstabelecimento'}">
                <a ui-sref="main.dashboardEstabelecimento.perfilEstabelecimento">
                    <span class="fa fa-user"></span>
                    <span class="xn-text">Minha Loja</span>
                </a>
            </li>
            <li ng-show="verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'vendedoresEstabelecimento'}">
                <a ui-sref="main.dashboardEstabelecimento.vendedoresEstabelecimento">
                    <span class="fa fa-user"></span>
                    <span class="xn-text">Vendedores</span>
                </a>
            </li>
            <li ng-show="verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'atendimentosEstabelecimento'}">
                <a ui-sref="main.dashboardEstabelecimento.atendimentosEstabelecimento">
                    <span class="fa fa-user"></span>
                    <span class="xn-text">Atendimentos</span>
                </a>
            </li>
            <li ng-show="verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'denunciasEstabelecimento'}">
                <a ui-sref="main.dashboardEstabelecimento.denunciasEstabelecimento">
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="xn-text">Denuncias</span>
                </a>
            </li>
            <li ng-show="verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'anunciosEstabelecimento'}">
                <a ui-sref="main.dashboardEstabelecimento.anunciosEstabelecimento">
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="xn-text">Anuncios</span>
                </a>
            </li>
           <!-- <li ng-show="verificaEstabelecimento() && !verifica()" ng-class="{active: state.current.activetab == 'dashboardVendedor'}">
                <a ui-sref="main.dashboardVendedor.index" ng-click="login()">
                    <span class="fa fa-tachometer fa-3x"></span>
                    <span class="xn-text">DashBoard Vendedor</span>
                </a>
            </li>-->
        <!--End Menu Lateral-->
        </ul>
    <!-- End X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->
    
    <!-- PAGE CONTENT -->
    <div class="page-content">
        
        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <!-- END SIGN OUT -->
            <!-- MESSAGES -->
            <li ng-show="verifica()" class="xn-icon-button pull-right">
                <a><span class="fa fa-comments"></span></a>
                <div class="informer informer-danger">{{qteNovos}}</div>
                <div ui-sref="main.dashboardVendedor.casosAbertos" class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-comments"></span> Casos novos</h3>
                        <div class="pull-right">
                            <span class="label label-danger">{{qteNovos}} novos</span>
                        </div>
                    </div>
                    <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                        <a ng-repeat="caso in novos" class="list-group-item">
                            <div class="list-group-status status-online"></div>
                            <img ng-src="{{urlPhotos+caso.user.photo}}" class="pull-left" alt="John Doe"/>
                            <span class="contacts-title">{{caso.user.name}}</span>
                            <p>{{caso.name}}</p>
                        </a>

                    </div>
                    <div class="panel-footer text-center">
                        <a ui-sref="main.dashboardVendedor.casosAbertos">Mostrar todas</a>
                    </div>
                </div>
            </li>
            <!--<li class="xn-icon-button pull-right">
                <a href="#"><span class="fa fa-tasks"></span></a>
                <div class="informer informer-warning">3</div>
                <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>
                        <div class="pull-right">
                            <span class="label label-warning">3 active</span>
                        </div>
                    </div>
                    <div class="panel-body list-group scroll" style="height: 200px;">
                        <a class="list-group-item" href="#">
                            <strong>Phasellus augue arcu, elementum</strong>
                            <div class="progress progress-small progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                            </div>
                            <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                        </a>
                        <a class="list-group-item" href="#">
                            <strong>Aenean ac cursus</strong>
                            <div class="progress progress-small progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                            </div>
                            <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                        </a>
                        <a class="list-group-item" href="#">
                            <strong>Lorem ipsum dolor</strong>
                            <div class="progress progress-small progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>
                            </div>
                            <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                        </a>
                        <a class="list-group-item" href="#">
                            <strong>Cras suscipit ac quam at tincidunt.</strong>
                            <div class="progress progress-small">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                            </div>
                            <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>
                        </a>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="pages-tasks.html">Show all tasks</a>
                    </div>
                </div>
            </li-->
        </ul>

        <ui-view></ui-view>
        
        
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Tem certeza que deseja sair <a ng-show="verifica()" >{{", " + infoVendedorNome}}</a>?</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a ng-click="logout()" href="login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX -->
<script type="text/javascript">
    initializeAll();
</script>