<ul class="breadcrumb">
    <li><a ui-sref="main.dashboard.listar">Home</a></li>
    <li ><a ui-sref="main.atendimentos.listar">Atendimentos</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-info-circle"></span> Atendimentos</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed" >
        <div class="row">
         <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->

                <div class="widget widget-default widget-item-icon" ui-sref="main.atendimentos.listarPorHora" ng-click="carregarAtendimentosPorHora((data.start | date: 'dd/MM/y'), (data.end | date: 'dd/MM/y'))">
                    <div class="widget-item-left">
                        <span class="fa fa-clock-o"></span>
                    </div>
                    <div class="widget-data">

                        <div class="widget-title">Atendimentos por Hora</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>

                </div>
                <!-- END WIDGET REGISTRED -->

            </div>
             <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->
                <div class="widget widget-default widget-item-icon" ui-sref="main.atendimentos.listarPorDiaSemana">
                    <div class="widget-item-left">
                        <span class="fa fa-calendar-o"></span>
                    </div>
                    <div class="widget-data">

                        <div class="widget-title">Atendimentos por Dia da Semana</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>

                </div>
                <!-- END WIDGET REGISTRED -->

            </div>
               <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->
                <div class="widget widget-default widget-item-icon" ui-sref="main.atendimentos.listarPorDiaMes">
                    <div class="widget-item-left">
                        <span class="fa fa-calendar"></span>
                    </div>
                    <div class="widget-data">

                        <div class="widget-title">Atendimentos por Dia do Mês</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>

                </div>
                <!-- END WIDGET REGISTRED -->

            </div>
               <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->
                <div class="widget widget-default widget-item-icon" ui-sref="main.atendimentos.listarPorCategoria">
                    <div class="widget-item-left">
                        <span class="fa fa-tags"></span>
                    </div>
                    <div class="widget-data">

                        <div class="widget-title">Atendimentos por Categoria</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>

                </div>
                <!-- END WIDGET REGISTRED -->

            </div>

            <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->

                <div class="widget widget-default widget-item-icon" ui-sref="main.atendimentos.listarPorDate" ng-click="carregarAtendimentosPorHora((data.start | date: 'dd/MM/y'), (data.end | date: 'dd/MM/y'))">
                    <div class="widget-item-left">
                        <span class="fa fa-clock-o"></span>
                    </div>
                    <div class="widget-data">

                        <div class="widget-title">Atendimentos por Data</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>

                </div>
                <!-- END WIDGET REGISTRED -->

            </div>
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">

                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a ui-sref="main.atendimentos.listarPorDataGeral"><span class="fa fa-bar-chart-o"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p class="text-info">FILTRAR: </p>
                        <div class="row">
                            <div class="col-md-2">
                                Data Inicio: <input class="form-control col-md3" type="date"  ng-model="data.start" >
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Data Fim: <input class="form-control col-md3" type="date"  ng-model="data.end" >
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <br>
                                <button class=" btn btn-default" ng-click="carregarAtendimentos((data.start | date: 'dd/MM/y'), (data.end | date: 'dd/MM/y'))"> filtrar </button>
                                <br>
                                
                            </div>
                        </div> </br>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.idcase" placeholder="Id..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.case_name" placeholder="Consulta..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.categoria" placeholder="Categoria..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.name" placeholder="Cliente..."></th>
                                    
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.date_trunc" placeholder="Data..."></th>
                                    
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.ate" placeholder="ATE..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.neg" placeholder="NEG..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.nat" placeholder="NAT..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.tot" placeholder="TOT..."></th>
                                </tr>
                                <tr>
                                    <th ng-click="ordenarPor('idcase')" >ID</th>
                                    <th ng-click="ordenarPor('case_name')"  >Consulta</th>
                                    <th ng-click="ordenarPor('categoria')" >Categoria</th>
                                    <th ng-click="ordenarPor('name')" >Cliente</th>
                                    <th ng-click="ordenarPor('date_trunc')">Data</th>
                                    <th ng-click="ordenarPor('ate')">ATE</th>
                                    <th ng-click="ordenarPor('neg')">NEG</th>
                                    <th ng-click="ordenarPor('nat')">NAT</th>
                                    <th ng-click="ordenarPor('tot')">TOT</th>

                                </tr>
                            </thead>
                            <tbody>
                                        <tr ng-repeat="atendimento in atendimentos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                              
                                                <td class="active">{{atendimento.idcase}}</td>
                                                <td class="active">{{atendimento.case_name}}</td>
                                                <td class="active">{{atendimento.categoria}}</td>
                                                <td class="active">{{atendimento.name}}</td>
                                                <td class="active">{{atendimento.date_trunc}}</td>
                                                                                           
                                                <td class="success">{{atendimento.ate}}</td>
                                                <td class="danger">{{atendimento.neg}}</td>
                                                <td  class="warning">{{atendimento.nat}}</td>
                                                <td class="info">{{atendimento.tot}}</td>
                                                

                                                
                                            </tr>
                                            
                                        </tbody>
                        </table>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
    var myFunction = function () {
        console.log("funfou")
}
</script>
