<ul class="breadcrumb">
    <li><a ui-sref="main.dashboard.listar">Home</a></li>
    <li ><a ui-sref="main.atendimentos.listar">Atendimentos</a> </li>
    <li ><a ui-sref="main.atendimentos.listarPorDiaMes">Atendimentos por Dia do Mês</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-calendar"></span> ATENDIMENTOS POR DIA DO MÊS</h2>
    <div class="row">
                          
                        </div> </br>
                        <div class="row">
                            <div class="col-md-2">
                                Data Inicio: <input class="form-control col-md3" type="date"  ng-model="data_start.value" >
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Data Fim: <input class="form-control col-md3" type="date"  ng-model="data_end.value" >
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <br>
                                <button class=" btn btn-default" ng-click="carregarAtendimentosPorDiaMes((data_start | date: 'dd/MM/y'), (data_end | date: 'dd/MM/y'))"> filtrar </button>
                                <br>
                                
                            </div>
                        </div> </br>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed" >
        <div class="row">
         
            <div class="col-md-3">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">ATENDIDAS</h3>
                        <ul class="panel-controls">
                        
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a ng-click="graficoDiaMesATE=!graficoDiaMesATE"><span class="fa fa-bar-chart-o"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table" >
                            <thead>
                              
                                <tr>
                                    <th ng-click="ordenarPor('day_of_month')">Dia</th>
                                    <th ng-click="ordenarPor('ate')">ATENDERAM</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                        <tr ng-repeat="atendimentosPorDiaMes in atendimentosPorDiaMess | filter:criterioDeBusca | orderBy:'day_of_month'">
                                              
                                                <td class="active">{{atendimentosPorDiaMes.day_of_month}}</td>
                                                                                           
                                                <td class="success">{{atendimentosPorDiaMes.ate}}</td>
                                                
                                                

                                                
                                            </tr>
                                            
                                        </tbody>
                        </table>
                    </div>

                </div>
                
            </div>
              <div class="col-md-3">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">NEGADAS</h3>
                        <ul class="panel-controls">
                        
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a ng-click="graficoDiaMesNEG=!graficoDiaMesNEG"><span class="fa fa-bar-chart-o"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table" >
                            <thead>
                                
                                <tr>
                                    <th  ng-click="ordenarPor('day_of_month')">Dia</th>
                                    <th ng-click="ordenarPor('neg')">NEGARAM</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                        <tr ng-repeat="atendimentosPorDiaMes in atendimentosPorDiaMess | filter:criterioDeBusca | orderBy:'day_of_month'">
                                              
                                                <td class="active">{{atendimentosPorDiaMes.day_of_month}}</td>
                                                                                           
                                                <td class="danger">{{atendimentosPorDiaMes.neg}}</td>
                                                
                                                
                                                

                                                
                                            </tr>
                                            
                                        </tbody>
                        </table>
                    </div>

                </div>
                
            </div>
              <div class="col-md-3">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">NÃO ATENDIDAS</h3>
                        <ul class="panel-controls">
                        
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a ng-click="graficoDiaMesNAT=!graficoDiaMesNAT"><span class="fa fa-bar-chart-o"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table" >
                            <thead>
                                
                                <tr>
                                    <th  ng-click="ordenarPor('day_of_month')">Dia</th>
                                    
                                    <th ng-click="ordenarPor('nat')">NÃO ATENDERAM</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                        <tr ng-repeat="atendimentosPorDiaMes in atendimentosPorDiaMess | filter:criterioDeBusca | orderBy:'day_of_month'">
                                              
                                                <td class="active">{{atendimentosPorDiaMes.day_of_month}}</td>
                                                                                           
                                                <td class="warning">{{atendimentosPorDiaMes.nat}}</td>
                                                     

                    
                                            </tr>
                                            
                                        </tbody>
                        </table>
                    </div>

                </div>
                
            </div>
              <div class="col-md-3">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">RECEBIDAS</h3>
                        <ul class="panel-controls">
                        
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a ng-click="graficoDiaMesTOT=!graficoDiaMesTOT"><span class="fa fa-bar-chart-o"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table" >
                            <thead>
                                
                                <tr>
                                    <th  ng-click="ordenarPor('day_of_month')">Dia</th>
                                    
                                    <th ng-click="ordenarPor('tot')">TOTAL</th>

                                </tr>
                            </thead>
                            <tbody>
                                        <tr ng-repeat="atendimentosPorDiaMes in atendimentosPorDiaMess | filter:criterioDeBusca | orderBy:'day_of_month'">
                                              
                                                <td class="active">{{atendimentosPorDiaMes.day_of_month}}</td>
                                                                                           
                                                <td class="info">{{atendimentosPorDiaMes.tot}}</td>
                                                
                                                
                                            </tr>
                                            
                                        </tbody>
                        </table>
                    </div>

                </div>
                
            </div>
            


        </div>
        <div class="row">
                <div class="col-md-12">

                    <!-- START BAR CHART -->
                    <div class="panel panel-default" ng-show="graficoDiaMesTOT">
                        <div class="panel-heading">
                            <h3 class="panel-title">GRÁFICO TOTAL</h3>
                            <ul class="panel-controls" style="margin-top: 2px;">
                        
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                                                        
                                    </ul> 
                        </div>
                        <div class="panel-body">
                                <div id="graficoAtendimentoPorDiaMesTOT" style="width: 1050px; height: 500px; overflow-x: scroll; overflow-y: scroll; "></div>
                        </div>
                    </div>
                    <!-- END BAR CHART -->

                </div>
                
        </div>
        <div class="row">
                <div class="col-md-12">

                    <!-- START BAR CHART -->
                    <div class="panel panel-default" ng-show="graficoDiaMesATE">
                        <div class="panel-heading">
                            <h3 class="panel-title">GRÁFICO ATENDIDAS</h3>
                            <ul class="panel-controls" style="margin-top: 2px;">
                        
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                                                        
                                    </ul> 
                        </div>
                        <div class="panel-body">
                                <div id="graficoAtendimentoPorDiaMesATE" style="width: 1050px; height: 500px; overflow-x: scroll; overflow-y: scroll; "></div>
                        </div>
                    </div>
                    <!-- END BAR CHART -->

                </div>
                
        </div>
        <div class="row">
                <div class="col-md-12">

                    <!-- START BAR CHART -->
                    <div class="panel panel-default" ng-show="graficoDiaMesNEG">
                        <div class="panel-heading">
                            <h3 class="panel-title">GRÁFICO NEGADAS</h3>
                            <ul class="panel-controls" style="margin-top: 2px;">
                        
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                                                        
                                    </ul> 
                        </div>
                        <div class="panel-body">
                                <div id="graficoAtendimentoPorDiaMesNEG" style="width: 1050px; height: 500px; overflow-x: scroll; overflow-y: scroll; "></div>
                        </div>
                    </div>
                    <!-- END BAR CHART -->

                </div>
                
        </div>
        <div class="row">
                <div class="col-md-12">

                    <!-- START BAR CHART -->
                    <div class="panel panel-default" ng-show="graficoDiaMesNAT">
                        <div class="panel-heading">
                            <h3 class="panel-title">GRÁFICO NÃO ATENDIDAS</h3>
                            <ul class="panel-controls" style="margin-top: 2px;">
                        
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                                                        
                                    </ul> 
                        </div>
                        <div class="panel-body">
                                <div id="graficoAtendimentoPorDiaMesNAT" style="width: 1050px; height: 500px; overflow-x: scroll; overflow-y: scroll; "></div>
                        </div>
                    </div>
                    <!-- END BAR CHART -->

                </div>
                
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>

<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="lib/jquery/jquery-ui.min.js"></script>

<script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>

<script type='text/javascript' src='app/assets/js/icheck/icheck.min.js'></script>

<script type="text/javascript" src="app/assets/js/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>


<script type="text/javascript" src="app/assets/js/morris/raphael-min.js"></script>
<script type="text/javascript" src="app/assets/js/morris/morris.min.js"></script>

<script type="text/javascript" src="app/assets/js/plugins.js"></script>

<script type="text/javascript" src="app/assets/js/actions.js"></script>