<ul class="breadcrumb">
    <li><a ui-sref="main.dashboard.listar">Home</a></li>
    <li ><a ui-sref="main.perfil.listar">Perfil</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-user"></span> Perfil </h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Perfil do Administrador</h3>
                        <button class="btn btn-primary pull-right" ng-click="btneditnomeFunc()">Modificar</button>
                    </div>
                    <div class="panel-body">
                        <p>Dados do administrador</p>
                        {{btneditnome}}
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Email</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="email" class="form-control" ng-model="editemail" ng-disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Nome</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" ng-model="editnome" ng-init="d=btneditnome" ng-disabled="{{d}}"/></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Senha atual</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                    <input type="password" class="form-control" ng-model="editsenha" ng-init="d=btneditnome" ng-disabled="{{d}}"/>
                                </div>
                                <!--<span class="help-block">aviso</span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Nova senha</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                    <input type="password" class="form-control" ng-model="editconfSenha" ng-init="d=btneditnome" ng-disabled="{{d}}"/>
                                </div>
                                <!--<span class="help-block">aviso</span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Foto</label>
                            <div class="col-md-6 col-xs-12">
                                <input style="cursor: pointer;" type="file" class="fileinput btn-primary" name="filename" id="filename" title="Escolher arquivo"/>
                                <span class="help-block">Faça upload da sua foto de perfil</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" ng-click="editlimpar()">Limpar formulário</button>
                        <button class="btn btn-primary pull-right">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>