<ul class="breadcrumb">
    <li><a href="index.html">Dashboard Estabelecimento</a></li>
    <li ><a href="#">Vendedores</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-users"></span>Vendedores</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
     <div class="page-container-boxed">
    <div class="row">
        <div class="col-md-3">
            <!-- START WIDGET REGISTRED -->
            <div style="cursor: pointer;" class="widget widget-default widget-item-icon" ui-sref="main.dashboardEstabelecimento.solicitacoes">
                <div class="widget-item-left">
                    <span class="fa fa-info-circle"></span>
                </div>
                <div class="widget-data">
                    <br>
                    <div class="widget-title">Solicitações de Vendedores</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Listagem de vendedores</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table" >
                        <thead>
                            <tr>
                                <!--<th ng-click="ordenarPor('id')">ID</th>-->
                                <th >Imagem</th>
                                <th ng-click="ordenarPor('name')">Nome</th>
                                <th ng-click="ordenarPor('mobile')">Telefone</th>
                                <th ng-click="ordenarPor('created_at')">Data de ingresso</th>
                                <th ng-click="ordenarPor('status')">Status</th>
                                <th> Opções </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th><input class="form-control" type="text" ng-model="criterioDeBusca.name" placeholder="Nome..."></th>
                                <th><input class="form-control" type="text" ng-model="criterioDeBusca.mobile" placeholder="Telefone..."></th>
                                <th><input class="form-control" type="text" ng-model="criterioDeBusca.created_at" placeholder="Data de ingresso..."></th>
                                <th><input class="form-control" type="text" ng-model="criterioDeBusca.status" placeholder="Status..."></th>
                                <th></th>
                            </tr>
                        </thead>
                       <tbody>
                            <tr ng-repeat="vendedor in vendedores | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">

                                <!--<td>{{vendedor.id}}</td>-->
                                <td> <a class="image"><img  ng-src="{{urlPhotos}}{{vendedor.photo}}" width="50" height="50" > </a></td>
                                <td>{{vendedor.name}}</td>
                                <td>{{vendedor.mobile}}</td>
                                <td>{{vendedor.created_at | limitTo:19}}</td>
                                <td ng-switch on="{{vendedor.status }}">
                                    <span ng-switch-when="1">Ativo</span>
                                </td>
                                <td>
                                    <!-- Botões de opções -->
                                    <ul class="panel-controls">
                                        <li style="cursor: pointer;" title="Opções" class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                                            <ul class="dropdown-menu">
                                                <li ng-click="desvincularVendedor(vendedor.id)" ><a><span class="fa fa-times"></span> Desvincular </a></li>
                                                <li ng-click="mudarAdminLoja(vendedor.id)" ><a><span class="fa fa fa-user"></span> Tornar Administrador </a></li>
                                                <li ng-click="clickChats(vendedor.id, vendedor.name)" ><a><span class="fa fa-comments-o"></span> Chat </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>
<!-- END PAGE CONTENT WRAPPER -->