<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Denuncias</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-users"></span> Denuncias</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed">
        <div class="row">
            <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->
                <div class="widget widget-default widget-item-icon" ui-sref="main.analisesCasos.listar">
                    <div class="widget-item-left">
                        <span class="fa fa-search"></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-title"></div>

                        <div class="widget-title">Denúncias Registradas</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>

                </div>
                <!-- END WIDGET REGISTRED -->

            </div>
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clientes Ativos</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p class="text-info"> filtrar: </p>
                        <div class="row">
                            <div class="col-md-2">
                                Data Inicio: <input class="form-control col-md3" type="date">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Data Fim: <input class="form-control col-md3" type="date">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <br>
                                <button type="submit" class=" btn btn-default"> filtrar </button>
                            </div>
                        </div> </br>
                        <table class="table " >
                            <thead>
                            <tr>
                                <th ><input class="form-control" type="text" ng-model="criterioDeBusca.nome" placeholder="Nome..."></th>
                                <th ><input class="form-control" type="text" ng-model="criterioDeBusca.contato" placeholder="Contato..."></th>
                                <th ><input class="form-control" type="text" ng-model="criterioDeBusca.qtde_casos" placeholder="Casos..."></th>
                            </tr>
                            <tr>
                                <th  href="" ng-click="ordenarPor('name')" > Nome </th>
                                <th> Contato </th>
                                <th> Quantidade de Casos </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="denuncia in denuncias| filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                <td>{{denuncia.nome}}</td>
                                <td>{{cliente.contato}}</td>
                                <td>{{cliente.qtde_casos}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>