
<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="#">Teewa</a></li>
    <li><a href="#">Chat</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-comments"></span> Chat</h2>
        </div>

    </div>
    <!-- END CONTENT FRAME TOP -->

    <!-- START CONTENT FRAME RIGHT -->
    <div class="content-frame-right">


        <div ng-repeat="chat in chats" class="list-group list-group-contacts border-bottom push-down-10">
            <a href="#" class="list-group-item">
                <div class="list-group-status status-online"></div>
                <img ng-src="{{chat.face}}" class="pull-left" alt="Dmitry Ivaniuk">
                <span class="contacts-title">{{chat.name}}</span>
                <p>{{chat.lastText}}</p>
            </a>
        </div>

        <div class="block">
            <h4>Status</h4>
            <div class="list-group list-group-simple">
                <a href="#" class="list-group-item"><span class="fa fa-circle text-success"></span> Online</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-warning"></span> Away</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-muted"></span> Offline</a>
            </div>
        </div>

    </div>
    <!-- END CONTENT FRAME RIGHT -->

    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body content-frame-body-left">

        <div class="messages messages-img">
            <div  ng-repeat="message in messages" ng-class="{in: message.userId == myId}" class="item item-visible">
                <div class="image">
                    <img src="app/assets/images/users/no-image.jpg" alt="John Doe">
                </div>
                <div class="text">
                    <div class="heading">
                        <a href="#">{{message.userId}}</a>
                        <span class="date">{{message.time}}</span>
                    </div>
                    {{message.text}}
                </div>
            </div>
        </div>

        <div class="panel panel-default push-up-10">
            <div class="panel-body panel-body-search">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><span class="fa fa-camera"></span></button>
                        <button class="btn btn-default"><span class="fa fa-chain"></span></button>
                    </div>
                    <input type="text" ng-model="data.message" class="form-control" placeholder="Your message..."/>
                    <div class="input-group-btn">
                        <button ng-click="showSendMessage()" class="btn btn-default">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
