<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Clientes</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-users"></span> Clientes</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clientes Ativos</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <input class="form-control" tipe="text" ng-model="criterioDeBusca" placeholder="Buscar...">
                        <br/>
                        <table class="table " >
                            <thead>
                                <tr>
                                    <th href="" ng-click="ordenarPor('nomeuser')" > Nome </th>
                                    <th> Contato </th>
                                    
                                    <th href="" ng-click="ordenarPor('name')"> Cidade </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  ng-repeat="cliente in clientes | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                    <td>{{cliente.nome}}</td>
                                    <td>{{cliente.telefone}}</td>
                                    <td>{{cliente.cidade}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>