
<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a ui-sref="main.clientes.listar" >Clientes</a> </li>
    <li><a href="#">Gráfico</a></li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-users"></span> Clientes</h2>

</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed">
        <div class="row">
            <div class="panel-body">
                <p class="text-info"> filtrar gráfico: </p>
                <div class="row">
                    <div class="col-md-2">
                        Data Inicio: <input class="form-control col-md3" ng-model="data_start.value" type="date">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        Data Fim: <input class="form-control col-md3" ng-model="data_end.value" type="date">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <br>
                        <button type="submit" ng-click="carregarClientesPorData2((data_start | date: 'dd/MM/y'), (data_end | date: 'dd/MM/y'))" class=" btn btn-default"> filtrar </button>
                    </div>
                </div> </br>
                <div class="row" >
                    <div class="col-md-12">
                        <!-- START BAR CHART -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Casos por Clientes</h3>
                                <ul class="panel-controls" style="margin-top: 2px;">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>

                                </ul>
                            </div>
                            <div class="panel-body">
                                <div id="top_x_div" style="width: 1050px; height: 500px; overflow-x: scroll; overflow-y: scroll; "></div>

                            </div>
                        </div>
                        <!-- END BAR CHART -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>