<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Clientes</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-users"></span> Clientes</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- END BREADCRUMB -->
    <div class="page-container-boxed">
        <div class="row">
        <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->
                <div class="widget widget-default widget-item-icon"  ui-sref="main.analisesCasos.listar({contactId: 'oi'})">
                    <div class="widget-item-left">
                        <span class="fa fa-search"></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-title"></div>

                        <div class="widget-title">Casos realizados por clienteee</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>



                </div>

               
                <!-- END WIDGET REGISTRED -->

            </div>
            <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->
                <div class="widget widget-default widget-item-icon" ui-sref="main.clientes.NDeconsultasGraphic">
                    <div class="widget-item-left">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-title"></div>

                        <div class="widget-title">Usuários por número de consultas</div>
                        <div class="widget-subtitle">no Teewa</div>
                    </div>

                    

                </div>

               
                <!-- END WIDGET REGISTRED -->

            </div>
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clientes Ativos</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a ui-sref="main.clientes.graphic" ><span title="gráfico" class="fa fa-bar-chart-o"></span></a></li>
                            <!--<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p class="text-info"> filtrar: </p>
                        <div class="row">
                            <div class="col-md-2">
                                Data Inicio: <input class="form-control col-md3" type="date"  ng-model="data_start.value">
                                
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Data Fim: <input class="form-control col-md3" type="date"  ng-model="data_end.value" >
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <br>
                                <button class=" btn btn-default" ng-click="carregarClientesPorData((data_start | date: 'dd/MM/y'), (data_end | date: 'dd/MM/y'))"> filtrar </button>
                                <br>
                                
                            </div>
                        </div> 
                        </br>
                        <table class="table " >
                            <thead>
                                <tr>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.nome" placeholder="Nome..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.contato" placeholder="Contato..."></th>
                                    <th ><input class="form-control" type="text" ng-model="criterioDeBusca.qtde_casos" placeholder="Casos..."></th>
                                </tr>
                                <tr>
                                    <th  href="" ng-click="ordenarPor('nome')"  > Nome </th>
                                    <th> Contato </th>
                                    <th> Quantidade de Casos </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  ng-repeat="cliente in clientes| filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | orderBy:'nome'">
                                    <td>{{cliente.nome}}</td>
                                    <td>{{cliente.contato}}</td>
                                    <td>{{cliente.qtde_casos}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    panelActions();
</script>