<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li ><a href="#/pacotes/list">Pacotes</a> </li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-cubes"></span> Pacotes </h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form name="form.pacote" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Editar Pacote</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success" ng-show="submissionSuccess">Pacote Atualizado com Sucesso!</div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Nome do Pacote</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group" ng-class="{'has-error' : form.pacote.nome.$invalid && !form.pacote.nome.$pristine}">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-required="true" ng-model="package.nome"  name="nome" class="form-control"/>
                                </div>
                                <p ng-show="form.pacote.nome.$invalid" class="help-block">Nome é obrigatório.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Preço do Pacote</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group" ng-class="{'has-error' : form.pacote.preco.$invalid && !form.pacote.preco.$pristine}">
                                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                                    <input ng-required="true" ng-model="package.preco" id="preco" type="text" name="preco" ng-required="true" class="form-control" only-digits/>
                                </div>
                                <p ng-show="form.pacote.preco.$invalid" class="help-block">Preço é obrigatório. Ex: 99.99 </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Número de Vendedores</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group" ng-class="{'has-error' : form.pacote.vendedores.$invalid && !form.pacote.vendedores.$pristine || form.pacote.vendedores.$modelValue==0}">
                                    <span class="input-group-addon"><span class="fa fa-group"></span></span>
                                    <input type="text" ng-model="package.vendedores" ng-required="true" name="vendedores" value="1" only-digits class="form-control" min="1" step="1" />
                                </div>
                                <p ng-show="form.pacote.vendedores.$invalid || form.pacote.vendedores.$modelValue==0" class="help-block">O número mínimo de vendedores é 1.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Funcionalidades:</label>
                            <div class="col-md-6 col-xs-12">

                                <div class="input-group" ng-repeat="func in funcionalidades">
                                    <label class="check" >
                                        <input
                                                type="checkbox"
                                                name="funcSel[]"
                                                value="{{func}}"
                                                ng-checked="funcSel.indexOf(func) > -1"
                                                ng-click="funcSelecionado(func)"
                                        />{{func}}
                                    </label>
                                    <br/>
                                </div>
                                <p ng-show="funcSel.length == 0" class="help-block">Deve selecionar pelo menos uma funcionalidades.</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" ng-click="limparFormulario(package)">Limpar formulário</button>
                            <button class="btn btn-primary pull-right" ng-disabled="funcSel.length == 0 || form.pacote.$invalid " ng-click="updatePacote(pacote)">Atualizar</button>

                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>